th, td, tr {
  border-bottom: 1px solid #ddd;
  padding: 15px;
  text-align: left;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.title{
  align: center;
}

body, .sticky-footer-wrapper {
   min-height:100vh;
}

.flex-fill {
   flex:1 1 auto;
}